body{
    background-color: black;
    color: white;
}

a{
    color: white;
}

ul#header-list li{
    display: inline-block;
    width: 200px;
    border: 2px dashed blue;
    text-align: center;
}

h4{
    border: 2px solid red;
    width: 210px;
}

footer{
    border: 2px solid green;
}

footer p{
    text-align: center;
}

#video{
    padding: 10px;
    margin-bottom: 30px;
}

