ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 35%;
  background-color: rgba(95, 143, 182, 0.808);
  padding: 15px;
}

ul:hover {
  transition: 2s;
  margin: 0 30%;
  background-color: rgb(63, 99, 165);
}

li {
  list-style: none;
  margin-top: 3px;
}

h1 {
  text-align: center;
}

body {
  background-color: rgba(95, 143, 182, 0.808);
}